/*basics*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid #000;*/
}
html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
/*end basics*/

/*header*/
.header__head {
  height: 157px;
  border-bottom: 1px solid #b0b0b0;
  display: flex;
  flex-flow: row nowrap;
}
.header__main {
  position: relative;
  height: 616px;
  margin-top: 15px;
}
.header__main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./imgs/Photo6.jpg');
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 30%;
  filter: grayscale(100%) opacity(100%);
  z-index: -1;
}
.header__logo {
  padding: 32px 0;
  flex-grow: 2;
}
.header__navbar {
  padding-top: 72px;
  flex-grow: 10;
}
.header__title {
  padding-top: 152px;
  text-align: center;
}
/*end header*/

/*logo*/
.logo__title {
  font-size: 3.3rem;
  color: #303030;
}
.logo__subtitle {
  margin-top: 27px;
  font-size: 1.7rem;
  color: #b0b0b0;
}
/*end logo*/

/*menu*/
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.menu__item {
  list-style: none;
  font-size: 2rem;
  padding: 0 22px;
}
.menu__item-link {
  padding-bottom: 10px;
  text-decoration: none;
  color: #b0b0b0;
}
.menu__item-link:hover {
  border-bottom: 3px solid #b0b0b0;
  border-radius: 25%;
  text-shadow: 0px 1px 1px #000;
}
.menu__item-link:active {
  text-shadow: none;
}
/*end menu*/

/*title*/
.title {

}
.title__title {
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: #363739;
}
.title__subtitle {
  width: 760px;
  margin: auto;
  margin-top: 28px;
  font-size: 2.3rem;
  letter-spacing: 1.1px;
  line-height: 4.4rem;
  color: #545454;
  font-weight: 400;
}
.title__link {
  display: inline-block;
  margin-top: 46px;
  padding: 0px 10px;
}
.title__link-btn {
  text-decoration: none;
  padding: 21px 45px;
  border-radius: 3px;
  font-size: 2.2rem;
  color: #fff;
}
.title__link-btn--galary {
  background-color: #da5550;
}
.title__link-btn--galary:hover {
  background-color: #ff7772;
}
.title__link-btn--galary:active {
  background-color: #c24a46;
}
.title__link-btn--about {
  background-color: #5bb85d;
}
.title__link-btn--about:hover {
  background-color: #85e187;
}
.title__link-btn--about:active {
  background-color: #479a49;
}
/*end title*/

/*main*/
.main {
  flex-grow: 1;
}
.main__features {
  height: 431px;
  margin-top: 1px;
}
.main__gallery {
  margin-top: 1px;
  height: 1999px;
}
.main__section-title {
  margin-top: 1px;
  height: 328px;
}
.main__abilities {
  margin-top: 1px;
  height: 899px;
}
.main__contacts {
  margin-top: 1px;
  height: 457px;
}
/*end main*/

/*features*/
.features {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.features__item {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 432px;
}
.features__item--1 {
  background-color: #e3e7e8;
}
.features__item--2 {
  background-color: #999999;
}
.features__item--3 {
  background-color: #676767;
}
.features__item--4 {
  background-color: #454545;
}
.features__icon {
  margin-top: 84px;
  text-align: center;
  font-size: 70px;
  color: #fff;
}
.features__title {
  margin-top: 28px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.features__text {
  padding: 30px 50px 0 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.features__item:hover .features__icon {
  color: #363a3d;
}
.features__item:hover .features__title {
  color: #363a3d;
}
.features__item:hover .features__text {
  color: #363a3d;
}
/*features*/

/*gallery*/
.gallery__group-1 {
  height: 380px;
  display: flex;
  flex-flow: row nowrap;
}
.gallery__group-2 {
  height: 760px;
  display: flex;
  flex-flow: row nowrap;
}
.gallery__group-3 {
  height: 572px;
  display: flex;
  flex-flow: row nowrap;
}
.gallery__group-4 {
  height: 285px;
  display: flex;
  flex-flow: row nowrap;
}
.gallery__item {
  flex-grow: 1;
  height: 100%;
  position: relative;
  margin: 1px;
}
.gallery__img {
  width: 100%;
}
.gallery__img-caption {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery__group-2-single {
  height: 100%;
  flex-grow: 2;
  align-self: center;
}
.gallery__group-2-double {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
/*end gallery*/

/*section-title*/
.section-title {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.section-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./imgs/Photo6.jpg');
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 30%;
  filter: grayscale(100%) opacity(100%);
  z-index: -1;
}
.section-title__title {
  margin-top: 98px;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  color: #303d45;
}
.section-title__subtitle {
  margin-top: 28px;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  padding: 0 430px;
  color: #303d45;
}
/*end section-title*/

/*abilities*/
.abilities__group-1 {
  height: 280px;
  display: flex;
  flex-flow: row nowrap;
}
.abilities__group-2 {
  height: 318px;
  display: flex;
  flex-flow: row nowrap;
}
.abilities__group-3 {
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
}
.abilities__item {
  flex-grow: 1;
}
/**/
.abilities__items-1 {
  height: 278px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.abilities__item {
  height: 100%;
  flex-grow: 1;
}
.abilities__item-title {
  margin: 62px 40px 0 40px;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}
.abilities__item-decription {
  margin: 28px 40px;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 400;  
  color: #fff;
}
.abilities__items-2 {
  height: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
}
.abilities__items-2 .abilities__item-title {
  color: #060004; 
}
.abilities__items-2 .abilities__item-decription {
  color: #060004; 
}
.abilities__link {
  margin: 38px 40px 0 40px;
}
.abilities__items-3 {
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.abilities__link-btn {
  text-decoration: none;
  padding: 22px 50px;
  border-radius: 3px;
  font-size: 2rem;
  color: #fff;
}
.abilities__item:hover .abilities__item-title {
  color: #363a3b;
}
.abilities__item:hover .abilities__item-decription {
  color: #363a3b;
}
.abilities__item--1 {
  background-color: #e3e7e8;
}
.abilities__item--2 {
  background-color: #999999;
}
.abilities__item--3 {
  background-color: #676767;
}
.abilities__item--4 {
  background-color: #edbbee;
}
.abilities__item--5 {
  background-color: #92c4f7;
}
.abilities__item--6 {
  background-color: #ab5522;
}
.abilities__item--7 {
  background-color: #2287bb;
}
.abilities__item--8 {
  background-color: #459967;
}
.abilities__item--9 {
  background-color: #a4a530;
}
.abilities__link-btn--detail {
  background-color: #0175d8;
  padding: 15px 22px;
}
.abilities__link-btn--detail:hover {
  background-color: #2897f5;
}
.abilities__link-btn--detail:active {
  background-color: #0163b6;
}
.abilities__link-btn--more {
  background-color: #da5550;
  padding: 15px 22px;
}
.abilities__link-btn--more:hover {
  background-color: #fa7974;
}
.abilities__link-btn--more:active {
  background-color: #bc4945;
}
/*end abilities*/

/*contacts*/
.contacts {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.contacts__item {
  flex-grow: 1;
  padding-top: 26px;
}
/*end contacts*/

/*form*/
.form__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 12px;
}
.form__label {
  font-size: 2rem;
  color: #363636;
}
.form__input {
  height: 38px;
  width: 540px;
  margin: 12px 0 27px 0;
  border: 1px solid #cecece;
  border-radius: 2px;
}
.form__input--textarea {
  height: 126px;
  width: 540px;
}
.form__checkbox {
  margin-top: 3px;
  cursor: pointer;
}
.form__check {
  display: none;
}
.form__check-fake {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #cecece;
}
.form__checkbox .form__check:checked ~ .form__check-fake {
  background-color: #2287bb;
  background-size: 80%;
}
.form__check-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #363636;
  user-select: none;
}
.form__submit {
  margin-top: 17px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
}
.form__link-btn--submit {
  background-color: #5bb85d;
  padding: 14px 23px;
}
.form__link-btn--submit:hover {
  background-color: #7ad37c;
}
.form__link-btn--submit:active {
  background-color: #4b9c4e;
}
/*end form*/

/*address*/
.address__title {
  margin-top: 34px;
  margin-left: 47px;
  font-size: 3rem;
  font-weight: 400;
  color: #363636;
}
.address__subtitle {
  margin-top: 28px;
  margin-left: 47px;
  line-height: 3.2rem;
  font-size: 2rem;
  font-weight: 400;
}
.address__email {
  margin-top: 4px;
  margin-left: 41px;
  font-size: 2rem;
}
.address__email-icon {
  font-size: 3rem;
}
.address__phone {
  margin-top: 38px;
  margin-left: 37px;
  font-size: 2rem;
}
.address__phone-icon {
  font-size: 3rem;
}
/*end contacts*/

/*footer*/
.footer__items {
  border-top: 1px solid #b0b0b0;
  height: 104px;
  padding-top: 34px;
}
.footer__info {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #363636;
}
.footer__info-company {
  color: #2287bb;
}
.footer__link {
  float: right;
  font-size: 1.6rem;
  color: #2287bb;
  text-decoration: none;
}
/*end footer*/

/*media*/
/*Super large desctops*/
@media (min-width: 1750px) {
  .wrapper {
    width: 1710px;
  }
}
/*Extra large desctops*/
@media (min-width: 1400px) and (max-width: 1749px) {
  .wrapper {
    width: 1360px;
  }
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1399px) {
  .wrapper {
    width: 1160px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 950px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .wrapper {
    width: 480px;
  }
}
@media (max-width: 768px) {
  /*header*/
  .header__head {
    display: flex;
    flex-flow: column nowrap;
  }
  .header__logo {
    border: 1px solid #000;
    flex-grow: 1;
  }
  .header__navbar {
    border: 1px solid #000;
    flex-grow: 1;
  }
  /*end header*/
}
@media (max-width: 992px) {
  /*features*/
    .features {
      flex-flow: column nowrap;
    }
  /*features*/

  /*abilities*/
  .abilities__group-1 {
    border: 1px solid #000;
    height: 280px;
    flex-flow: column nowrap;
  }
  .abilities__group-2 {
    border: 1px solid #000;
    height: 318px;
    flex-flow: column nowrap;
  }
  .abilities__group-3 {
    border: 1px solid #000;
    height: 300px;
    flex-flow: column nowrap;
  }
  /*end abilities*/

  /*contacts*/
  .contacts {
    flex-flow: column nowrap;
  }
  /*end contacts*/
}
@media (max-width: 1200px) {
  /*gallery*/
  .gallery__group-1 {
    flex-flow: column nowrap;
  }
  .gallery__group-2 {
    flex-flow: column nowrap;
  }
  .gallery__group-3 {
    flex-flow: column nowrap;
  }
  .gallery__group-4 {
    flex-flow: row nowrap;
  }
  /*end gallery*/
}
/*end media*/