$color-primary: #037693;
$color-secondory: #fff;
$font-light: #fff;
$font-dark: #000;

$menu-bg: #121111;
$menu-bg-hover: #1e1d1d;
$menu-border-hover: #e8e9ea;
$menu-font-hover: #f5f5f5;

$button-font-pr: #5191a7;

$interaction-1: #f1b451;

$partners-1: #c2c2c2;

$events-1: #4ca59a;
$events-2: #f26250;
$events-3: #f0a765;

$footer-bg: #0d0d0d;
$footer-input-placeholder: #767676;
