/*abilities*/
.abilities__group-1 {
  /*height: 280px;*/
  display: flex;
  flex-flow: row nowrap;
}
.abilities__group-2 {
  /*height: 318px;*/
  display: flex;
  flex-flow: row nowrap;
}
.abilities__group-3 {
  /*height: 300px;*/
  display: flex;
  flex-flow: row nowrap;
}
.abilities__item {
  flex-grow: 1;
  padding: 60px 40px;
}
.abilities__items-1 {
  /*height: 278px;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.abilities__item-title {
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-weight: 400;
  color: #fff;
}
.abilities__item-decription {
  margin-top: 29px;
  line-height: 3.4rem;
  font-size: 1.8rem;
  font-weight: 400;  
  color: #fff;
}
.abilities__items-2 {
  /*height: 320px;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.abilities__items-2 .abilities__item-title {
  color: #060004; 
}
.abilities__items-2 .abilities__item-decription {
  color: #060004; 
}
.abilities__link {
  margin-top: 63px;
}
.abilities__items-3 {
  /*height: 300px;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.abilities__link-btn {
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 2rem;
  color: #fff;
}
.abilities__item:hover .abilities__item-title {
  color: #363a3b;
}
.abilities__item:hover .abilities__item-decription {
  color: #363a3b;
}
.abilities__item--1 {
  background-color: #e3e7e8;
}
.abilities__item--2 {
  background-color: #999999;
}
.abilities__item--3 {
  background-color: #676767;
}
.abilities__item--4 {
  background-color: #edbbee;
}
.abilities__item--5 {
  background-color: #92c4f7;
}
.abilities__item--6 {
  background-color: #ab5522;
  width: 25%;
}
.abilities__item--7 {
  background-color: #2287bb;
  width: 25%;
}
.abilities__item--8 {
  background-color: #459967;
  width: 25%;
}
.abilities__item--9 {
  background-color: #a4a530;
  width: 25%;
}
.abilities__link-btn--detail {
  background-color: #0175d8;
}
.abilities__link-btn--detail:hover {
  background-color: #2897f5;
}
.abilities__link-btn--detail:active {
  background-color: #0163b6;
}
.abilities__link-btn--more {
  background-color: #da5550;
}
.abilities__link-btn--more:hover {
  background-color: #fa7974;
}
.abilities__link-btn--more:active {
  background-color: #bc4945;
}
/*end abilities*/