.address {
  padding: 16px 28px;
}
.address__title {
  margin-top: 1.2em;
  font-size: 2.8rem;
  line-height: 1em;
  font-weight: 400;
  color: #363636;
}
.address__subtitle {
  margin: 1.7em 0;
  line-height: 3.4rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.address__email {
  margin-top: 1em;
  font-size: 2rem;
}
.address__email-icon {
  font-size: 3rem;
}
.address__phone {
  margin-top: 1.5em;
  font-size: 2rem;
}
.address__phone-icon {
  font-size: 3rem;
}
@media (max-width: 990px) {
  .address {
    padding: 0 0 16px 0;
  }
  .address__title {
    margin-top: 0; 
  }
}