/*.contacts__item {
  flex-grow: 1;
  width: 33.3333%;
  padding-top: 26px;
  padding: 10px 14px;
}

@media (max-width: 990px) {
  .contacts {
    flex-wrap: wrap;
  }
  .contacts__item {
    width: 50%;
  }
  .contacts__item:last-child {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contacts__item {
    width: 100%;
    padding: 0;
  }
}*/
.contacts {
  display: flex;
  flex-flow: row nowrap;
}
.contacts__item {
  padding-bottom: 7.6em;
}
.contacts__item--form {
  flex-grow: 1;
  flex-basis: 70%;
}
.contacts__item--address {
  flex-grow: 1;
  flex-basis: 35%;
  padding: 1em 1.5em;
}
@media (max-width: 990px) {
  .contacts {
    flex-wrap: wrap;
  }
  .contacts__item {
    padding-bottom: 0;
  }
}
