.title {
  text-align: center;
}
.title__title {
  font-size: 4.8rem;
  font-weight: 400;
  color: #363739;
}
.title__subtitle {
  display: inline-block;
  padding: 0 26%;
  margin-top: 1em;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #545454;
}
.title__links {
  padding: 4.5em 0 3.6em 0;
}
.title__link {
  display: inline-block;
  padding: 0px 11px;
}
.title__link-btn {
  text-decoration: none;
  padding: 18px 41px;
  border-radius: 4px;
  font-size: 2.2rem;
  color: #fff;
}
.title__link-btn--galary {
  background-color: #da5550;
}
.title__link-btn--galary:hover {
  background-color: #c9302c;
}
.title__link-btn--galary:active {
  background-color: #ac2925;
}
.title__link-btn--about {
  background-color: #5bb85d;
}
.title__link-btn--about:hover {
  background-color: #449d44;
}
.title__link-btn--about:active {
  background-color: #398439;
}

@media (max-width: 1330px) {
  .title__title {
    font-size: 4rem;
  }
  .title__subtitle {
    /*font-size: 1.8rem;*/
  }
}
@media (max-width: 990px) {
  .title__subtitle {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .title__title {
    /*font-size: 3rem;*/
  }
  .title__subtitle {
    font-size: 2rem;
    line-height: 1.7em;
  }
}
@media (max-width: 543px) {
  .title__link:first-child {
    margin-bottom: 50px;
  }
}