/*contacts*/
.contacts {
  /*height: 100%;*/
  display: flex;
  flex-flow: row nowrap;
}
.contacts__item {
  flex-grow: 1;
  width: 33.3333%;
  padding-top: 26px;
  /*flex-basis: 420px;*/
  padding: 10px 14px;
}
/*end contacts*/