* {
  border: 1px solid #f26565;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
div {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper:after {
  content: '';
  display: block;
  height: 8.44rem;
}
