* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;  
}

html, body {
  min-height: 100%;
}

body {
  background-color: #050611;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
}

.navbar {
  background-color: #171823;
  padding: 10px;
}

.navbar__group {
  /*background-color: #171823;*/
}

.navbar__item {
  display: inline-block;
  overflow: hidden;
}

.navbar__link {
  display: block;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}

.navbar__link:hover {
  animation: 0.3s colorLoad forwards;
}

.navbar__link:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 10%;
  background-color: #0b78e3;
  position: absolute;
  bottom: 0;
  left: -100%;
  z-index: 2;
  animation: 0.5s borderSlide forwards 0.1s
}

@keyframes borderSlide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes colorLoad {
  0% {
    color: #fff;
  }
  100% {
    color: #0b78e3;
  }
}

/* Container */
.container {
  background-color: #0d0e19;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,.2);
}

.w400 {
  width: 400px;
}

.title {
  text-align: center;
  padding: 20px;
}

.content {
  background-color: #191a25;
  border-radius: 6px;
  padding: 20px 0;
}

.text {
  box-sizing: content-box;
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.transparent-green {
  background-color: rgba(0,125,125,0.3);
  box-shadow: 0px 0px 2px 2px rgba(0,125,125,0.7);
}

.transparent-red {
  background-color: rgba(255,5,25,0.3);
  box-shadow: 0px 0px 2px 2px rgba(255,5,25,0.7);
}

.transparent-violet {
  background-color: rgba(125,5,255,0.3);
  box-shadow: 0px 0px 2px 2px rgba(125,5,255,0.7);
}

.transparent-yellow {
  background-color: rgba(125,125,0,0.3);
  box-shadow: 0px 0px 2px 2px rgba(125,125,0,0.7);
}

.transparent-blue {
  background-color: rgba(0,125,255,0.3);
  box-shadow: 0px 0px 2px 2px rgba(0,125,255,0.7);;
}


.box {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}