// @media screen and (max-width: 400px) {
//   .footer {
//     height: 2rem;
//     margin-top: -2rem;
//     .container {
//       width: 100%;
//     }
//   }
//   .wrapper:after {
//     height: 2rem;
//   }
// }
/*Iphone4*/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {

}

/*Small*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .footer {
    height: 12.85rem;
    margin-top: -12.85rem;
    .container {
      width: 100%;
    }
  }
  .wrapper:after {
    height: 12.85rem;
  }
}

/*Middle*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .footer {
    height: 31.38rem;
    margin-top: -31.38rem;
    .container {
      width: 100%;
    }
  }
  .wrapper:after {
    height: 31.38rem;
  }
}

/*Normal*/
@media only screen and (min-width : 1224px) and (max-width: 1860){
  .footer {
    height: 31.38rem;
    margin-top: -31.38rem;
    .container {
      width: 100%;
    }
  }
  .wrapper:after {
    height: 31.38rem;
  }
}

// /*Big*/
// @media only screen and (min-width : 1824px) {
//
// }
