/*Small*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .footer {
    height: 12.85rem;
    margin-top: -12.85rem;
    .container {
      width: 100%;
      margin: 0;
    }
  }
  .wrapper:after {
    height: 12.85rem;
  }
}

/*Middle*/
@media only screen and (min-width : 480px) and (max-width : 1024px) {
  .footer {
    height: 31.38rem;
    margin-top: -31.38rem;
    .container {
      width: 100%;
    }
  }
  .wrapper:after {
    height: 31.38rem;
  }
}

/*Normal*/
@media only screen and (min-width : 1024px) and (max-width: 1860){
  .footer {
    height: 31.38rem;
    margin-top: -31.38rem;
    .container {
      width: 100%;
    }
  }
  .wrapper:after {
    height: 31.38rem;
  }
}
