
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-lightning:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-off:before { content: '\e806'; } /* '' */
.icon-up-hand:before { content: '\f164'; } /* '' */