/*section-title*/
.section-title {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.section-title__title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #303d45;
}
.section-title__subtitle {
  text-align: center;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 3.4rem;
  padding: 0 25%;
  color: #303d45;
}
/*end section-title*/